{% extends 'base.html' %}

{% block title %} Log-In {% endblock %}

{% block content %}


{% if user.is_authenticated %}
<p>You are already logged in.</p>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
{% else %}

<div class="d-flex justify-content-center">
  <div class="container text-center mt-5">
    <div class="bg-success-subtle rounded p-5 m-5">
      <h2>Log In</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- So ugly but I can't change it?? -->
        <button class="btn btn-primary" type="submit">Log In</button>
      </form>
      <br/>
      <p>Don't have an account? <a class="btn btn-secondary" href="{% url 'signup' %}">Sign Up</a></p>
      <br>
      <p><a href="{% url 'privacy' %}">Read our privacy policy</a></p>
      <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}