{% extends 'base.html' %}
{% load static %}

{% block title %} Garden {% endblock %}

{% block content %}
<h1>{% if user.is_authenticated %}
    {% if user.username|last != "s" %}
        <h1>{{ user.username }}'s Garden</h1>
    {% else %}
        <h1>{{ user.username }}' Garden</h1>
    {% endif %}
{% else %}
    <h1>Guest's Garden!</h1>
{% endif %}</h1>

<div class="mt-3 h-100 row" style="background-image:url('../media/backgrounds/greenhouse2.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="m-10"></div>
        {% for plant in plantSlots %} 
            <div class="col-4 col-md-2 p-2">
                {% if plant and plant.image %}
                    <img id="{{forloop.counter}}"class="image img-fluid" src="{{ plant.image.url }}" alt="{{ plant.name }}">
                {% else %}
                    <img id="{{ forloop.counter }}" class="image img-fluid" src="{% static 'placeholder.jpg' %}" alt="Empty Spot">
                {% endif %}
            </div>
        {% empty %}
            <p>No plants found in your garden.</p>
        {% endfor %}
</div>

<form action="updateGarden" method="post" style="visibility: hidden" name="submitform" id="submitform">
    <p>Plant {{ forloop.counter }}</p>
    {% csrf_token %}
    <select name="plantname" id="plantname">
        {% for plant in allplants %}
        {% if plant in avalible %}
                <option value="{{plant.name}}"> {{plant.name}}</option>
        {% else %}
            <option disabled> {{plant.name}}</option>
        {% endif %}
        {% endfor %}
    
    </select>
    <input name="slot" id="slot" hidden value="0"> 
    <button type="submit" onclick="style='visibility: hidden'">change</button>
  </form>
    <!-- create a drop down checkbox 
    of user.avlible plants  -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const image = document.querySelectorAll('.image');
        image.forEach(img => {
            img.addEventListener('click', function () {
                const id = img.getAttribute('id');
                document.submitform.slot.value = id;
            //    alert(id)
               document.getElementById("submitform").style.visibility = "visible";
            });
        });
    });
</script>

{% endblock %}
