{% extends 'base.html' %}
{% load static %}

{% block title %} Garden {% endblock %}

{% block content %}
<!-- <h1>{% if user.is_authenticated %}
    {% if user.username|last != "s" %}
        <h1>{{ user.username }}'s Garden</h1>
    {% else %}
        <h1>{{ user.username }}' Garden</h1>
    {% endif %}
{% else %}
    <h1>Guest's Garden!</h1>
{% endif %}</h1> -->

<div class="row h-100">
    <div class="h-100 row col-md-5 col-12" style="background-image:url('../media/backgrounds/greenhouse5.jpg'); background-repeat: no-repeat; background-size: contain;">
            <div class="m-10 p-10"></div>
            {% for plant in plantSlots %} 
                <div class="col-4 p-2">
                    <img id="{{forloop.counter}}"class="image img-fluid" src="{{ plant.image.url }}" alt="{{ plant.name }}">
                </div>
            {% empty %}
                <p>No plants found in your garden.</p>
            {% endfor %}
    </div>

<div class="col">
<h1>Find something to fill this space???</h1>
  
  <!-- Modal -->
  <div class="modal fade" id="editPlantModal" tabindex="-1" role="dialog" aria-labelledby="editPlantModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between">
          <h5 class="modal-title" id="editPlantModal">Choose a New Plant</h5>
          <button type="button" class="close btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="form-group mb-4" action="updateGarden" method="post" name="submitform" id="submitform">
                {% csrf_token %}
                <!-- {% for plant in allplants %}
                {% if plant in available %}
                                    <option value="{{plant.name}}"> {{plant.name}}</option>
                {% else %}
                    <option disabled> {{plant.name}}</option>
                {% endif %}
                            {% endfor %} -->
            
                <div class="row">
                    {% for plant in available %}
                    <button id="owned{{plant.id}}" type="button" class="col-4 btn btn-outline-success" onclick='updatePlantOwned( "{{plant.name}}", "owned{{plant.id}}")'>
                      <img src="{{ plant.image.url }}" class="img-fluid" alt="ahhhhh">
                      <p class="text-center">{{ plant.name }}</p>
                    </button>
                    {% endfor %}
                </div>    
                <input name="slot" id="slot" hidden value="0"> 
                <input name="plantname" id="plantname" hidden value={{available.0.name}}> 
                <button class="mt-3 col-12 text-center btn btn-primary" type="submit" data-bs-dismiss="modal">Change</button>
            </form>
        </div>
      </div>
    </div>
  </div>

        
    <!-- create a drop down checkbox 
    of user.avlible plants  -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const image = document.querySelectorAll('.image');
        image.forEach(img => {
            img.addEventListener('click', function () {
                const id = img.getAttribute('id');
                document.submitform.slot.value = id;
            //    alert(id)
                $('#editPlantModal').modal('show');
            });
        });
    });

    function updatePlantOwned(plantName, test){
        const $plantname = document.querySelector('#plantname');
        $plantname.value = plantName;
        console.log(plantName);

        let allImages = document.querySelectorAll('[id^="owned"]');
        allImages.forEach(image => {
            image.setAttribute("class", "col-4 btn btn-outline-success");
        });
        document.getElementById(test).setAttribute("class", "col-4 btn btn-outline-success active");
    }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}
