{% extends 'base.html' %}
{% load auth_extras %}
{% load static %}

{% block title %} Leaderboards {% endblock %}

{% block content %}
<style>
    .nav-link{
        color: #3B322C;
    }
    .nav-link:hover{
        color: #3B322C;
    }

    body {
        padding-top: 90px; 
        background: url("{% static 'backgrounds/generalBackground.png' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>

<div class="container" style="background-color: rgb(241, 241, 241); border-radius: 15px; padding-bottom: 10px;">
    <br>
    <!-- Trophy Icon + Title -->
    <div class="d-flex justify-content-center m-4">
        <img class="img-fluid" style="max-width:90px" src="{% static 'icons/trophy.png' %}" alt="trophy icon">
    </div>
    <h1 class="text-center">Leaderboard</h1>

    <!-- Rank / Leaves / Points row -->
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-3 text-center">
            <img class="img-fluid" style="max-width:55px" src="{% static 'icons/crown.png' %}" alt="crown icon">
            <h1>{{ rank }}</h1>
            <p>Global Rank</p>
        </div>
        <div class="col-3 text-center">
            <img class="img-fluid" style="max-width:55px" src="{% static 'icons/leaf.png' %}" alt="leaf icon">
            <h1>{{ user.stats.leaves }}</h1>
            <p>Leaves</p>
        </div>
        <div class="col-3 text-center">
            <img class="img-fluid" style="max-width:55px" src="{% static 'icons/point.png' %}" alt="point icon">
            <h1>{{ user.stats.points }}</h1>
            <p>Points</p>
        </div>
    </div>

    <ul class="nav nav-tabs nav-fill mt-5" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="global-tab" data-bs-toggle="tab" data-bs-target="#global" type="button" role="tab" aria-controls="global" aria-selected="true">Global</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="friend-tab" data-bs-toggle="tab" data-bs-target="#friend" type="button" role="tab" aria-controls="friend" aria-selected="false">Friends</button>
        </li>
    </ul>
    
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="global" role="tabpanel" aria-labelledby="global-tab">
            <table class="table table-hover text-center mt-3">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Username</th>
                        <th scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in leaderboard %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        <td>
                            <div class="d-flex justify-content-between">
                                {{ item.username }} 
                                {% if item.username != user.username %}
                                  <button class="btn btn-primary btn-sm tight-button btn-view-garden" type="button" 
                                          data-username="{{ item.username }}" 
                                          data-plant1="{{ item.plant1 }}" 
                                          data-plant2="{{ item.plant2 }}" 
                                          data-plant3="{{ item.plant3 }}" 
                                          data-plant4="{{ item.plant4 }}" 
                                          data-plant5="{{ item.plant5 }}" 
                                          data-plant6="{{ item.plant6 }}" 
                                          data-bs-toggle="modal" 
                                          data-bs-target="#exampleModal">
                                    <span>View Garden</span>
                                  </button>
                                {% endif %}
                            </div>
                        </td>
                        <td>{{ item.points }}</td>
                    </tr>
                    {% endfor %}
                    
                    <tr style="border-top: 2px solid rgb(204, 204, 204);" class="table-success">
                        <td>{{ rank }}</td>
                        <td>
                            <div class="d-flex justify-content-between">
                                {{ user.username }}
                            </div>
                        </td>
                        <td>{{ user.stats.points }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="tab-pane fade" id="friend" role="tabpanel" aria-labelledby="friend-tab">
            <table class="table table-hover text-center mt-3">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Username</th>
                        <th scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% if friend_leaderboard|length == 1 %}
                    <tr>
                        <td colspan="3">No friends yet.</td>
                    </tr>
                    {% else %}
                        {% for item in friend_leaderboard %}
                        <tr>
                            <td scope="row">{{ item.friend_rank }}</td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    {{ item.username }} 
                                    {% if item.username != user.username %}
                                      <button class="btn btn-primary btn-sm tight-button btn-view-garden" type="button" 
                                              data-username="{{ item.username }}" 
                                              data-plant1="{{ item.plant1 }}" 
                                              data-plant2="{{ item.plant2 }}" 
                                              data-plant3="{{ item.plant3 }}" 
                                              data-plant4="{{ item.plant4 }}" 
                                              data-plant5="{{ item.plant5 }}" 
                                              data-plant6="{{ item.plant6 }}" 
                                              data-bs-toggle="modal" 
                                              data-bs-target="#exampleModal">
                                        <span>View Garden</span>
                                      </button>
                                    {% endif %}
                                </div>
                            </td>
                            <td>{{ item.points }}</td>
                        </tr>
                        {% endfor %}
                        <tr style="border-top: 2px solid #ccc;" class="table-success">
                            <td>{{ user_friend_rank }}</td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    {{ user.username }}
                                </div>
                            </td>
                            <td>{{ user.stats.points }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal for viewing user's garden -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="modalText" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h5 class="modal-title" id="modalText">Player's Garden</h5>
                <button type="button" class="close btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container mx-auto w-100 position-relative">
                    <img style="border: 4px solid #000000;" width="100%" src="{% static 'backgrounds/Garden Background.png' %}" alt="garden background">
                    <img id="plant1img" width="20%" style="position: absolute; left: 22.5%; top: 53.125%; transform: translate(-50%, -100%);">
                    <img id="plant2img" width="20%" style="position: absolute; left: 50%;   top: 53.125%; transform: translate(-50%, -100%);">
                    <img id="plant3img" width="20%" style="position: absolute; left: 77.5%; top: 53.125%; transform: translate(-50%, -100%);">
                    <img id="plant4img" width="20%" style="position: absolute; left: 22.5%; top: 56.25%; transform: translateX(-50%);">
                    <img id="plant5img" width="20%" style="position: absolute; left: 50%;   top: 56.25%; transform: translateX(-50%);">
                    <img id="plant6img" width="20%" style="position: absolute; left: 77.5%; top: 56.25%; transform: translateX(-50%);">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-view-garden span {
        display: inline;
    }
    @media (max-width: 450px) {
    .btn-view-garden span {
        visibility: hidden;
    }
    .btn-view-garden::after {
        content: "Garden";
    }
    .tight-button {
        display: inline-flex; 
        align-items: flex-start;
        justify-content: flex-end;
        padding: 0.3rem !important;
        font-size: 0.85rem !important;
        width: 60px;
        height: 30px;
        line-height: normal;
    }
    }
</style>
<!-- JavaScript to update modal body -->
<script>
    var exampleModal = document.getElementById('exampleModal');
    exampleModal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget;
      var username = button.getAttribute('data-username');
      var plant1 = button.getAttribute('data-plant1');
      var plant2 = button.getAttribute('data-plant2');
      var plant3 = button.getAttribute('data-plant3');
      var plant4 = button.getAttribute('data-plant4');
      var plant5 = button.getAttribute('data-plant5');
      var plant6 = button.getAttribute('data-plant6');
  
      var modalText = exampleModal.querySelector('#modalText');
      modalText.textContent = username + "'s Garden";

      exampleModal.querySelector('#plant1img').src = plant1;
      exampleModal.querySelector('#plant2img').src = plant2;
      exampleModal.querySelector('#plant3img').src = plant3;
      exampleModal.querySelector('#plant4img').src = plant4;
      exampleModal.querySelector('#plant5img').src = plant5;
      exampleModal.querySelector('#plant6img').src = plant6;
    });
</script>
{% endblock %}
