{% extends 'base.html' %}
{% load auth_extras %}

{% block title %}all challenges{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1> all {{ user.username }}'s challenges!</h1>
{% else %}
    <h1>you are not logged on</h1>
{% endif %}
{% if isGamekeeper %}
    <h2> scroll to create new challenges</h2>
{% endif %}

<!-- First row for current tasks (pink) and QR scan (purple) -->
<div class="row">
  <!-- Pink column -->
  <div class="col-12 col-md-12" style="background-color: rgb(255, 176, 176)">
      <h2 class="mt-2">Current Tasks</h2>
      <ul class="list-group">
          {% for item in challenge_list %}
          <li class="list-group-item">
              <div>
                <strong>{{ item.title }}</strong> - {{ item.desc }}  
                <p>Progress: {{ item.progress }}/{{ item.noOfTasks }} | Reward: {{ item.rewardValue }} points</p>
                {% if item.isQR %}
                    <span class="badge bg-warning text-dark">QR Required</span>
                    <div>
                        <button class="btn btn-primary" qr="{{item.qrvalue}}" id="button-{{item.id}}" onclick="startScanner({{item.id}})">
                            Scan QR Code
                        </button>
                        <div id="reader-{{item.id}}-reader" style="width: 100%; max-width: 400px; margin: auto;"></div>
                    </div>
                  {% else %}
                  <button class="remove-button btn btn-primary mt-1"
                          qr="{{ item.qrvalue }}"
                          progress="{{ item.progress }}"
                          data-tasks="{{ item.noOfTasks }}"
                          data-id="{{ item.id }}"
                          data-points="{{ item.rewardValue }}">
                      complete
                  </button>
                  {% endif %}
              </div>
          </li>
          {% empty %}
          <p>No challenges left</p>
          {% endfor %}
      </ul>
      <br>
  </div>

</div>
    <!-- Second row for creating challenges and showing QR image (if gamekeeper) -->
{% if isGamekeeper %}
<div class="row h-100">
    <!-- Create new challenge column -->
    <div class="col-md-6 col-12 mb-3" style="background-color: lightgreen">
        <h1>create new challenge</h1>
        <form  method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" name="title" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Description:</label>
                <textarea name="desc" class="form-control" required></textarea>
            </div>
            
            <div class="mb-3">
                <label for="qrCode" class="form-label"> challenge Type:</label>
                <select name="qrCode" id="qrCode" class="form-control" required>
                    <option value="non-qr">Non-QR Event</option>
                    <option value="qr">QR Event</option>
                </select>
            </div>
            
            <div class="mb-3">
                <label for="noOfTasks" class="form-label">Number of Tasks:</label>
                <input type="number" name="noOfTasks" id="noOfTasks" max="20" min="1" class="form-control" required>
            </div>
            
            <div class="mb-3">
                <label for="rewardValue" class="form-label">Reward Value:</label>
                <input type="number" name="rewardValue" class="form-control" max="1000" min="20" required>
            </div>
            
            <button type="submit" class="submit">submit</button>
        </form>
    </div>

    <!-- QR image column -->
    {% if challenges.QRImage %}
    <div class="col-md-6 col-12 mb-3" id="qrimage">
        click to download QR code for {{ challenges.title }}
        <a href="{{ challenges.QRImage.url }}" target="_blank">
            <img src="{{ challenges.QRImage.url }}" style="width: 100px;" />
        </a>
    </div>
    {% endif %}

</div>
{% endif %}


<script src="https://unpkg.com/html5-qrcode"></script>
<script>
    // Handling the "See more tasks" button functionality and QR code scanning
    document.addEventListener('DOMContentLoaded', function () {
        const removeButtons = document.querySelectorAll('.remove-button');
        removeButtons.forEach(button => {
            button.addEventListener('click', function () {
                const challengeId = button.getAttribute('data-id');
                const points = button.getAttribute('data-points');
                const tasks = button.getAttribute('data-tasks');
                const progress = button.getAttribute('progress');
                const confirmRemove = confirm('Are you sure you have completed this task?');
                if (confirmRemove) {
                        if (tasks == (parseInt(progress) + 1)) {
                            fetch('api/v1/removeChallenge', {
                                method: 'DELETE',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}',
                                },
                                body: JSON.stringify({
                                    challengeId: challengeId,
                                    points: points
                                })
                            })
                            .then(response => {
                                if (response.ok) {
                                    alert('Challenge completed!');
                                    location.reload();
                                } else {
                                    alert('Error completing challenge.');
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                alert('Error completing challenge.');
                            });
                        } else {
                            fetch('api/v1/removeTask', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}',
                                },
                                body: JSON.stringify({
                                    challengeId: challengeId
                                })
                            })
                            .then(response => {
                                if (response.ok) {
                                    alert('Task completed!');
                                    location.reload();
                                } else {
                                    alert('Error completing task.');
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                alert('Error completing task.');
                            });
                        }
                }
            });
        });
    });
    function startScanner(challengeId) {
        const readerContainer = document.getElementById(`reader-${challengeId}-reader`);
        const button = document.getElementById(`button-${challengeId}`);
        alert(challengeId)
        readerContainer.style.display = "block"; 
        button.style.display = "none";
        alert(challengeId)
        const qr = button.getAttribute('qr');
        alert("hi")
        let qrBoxSize = window.innerWidth < 400 ? 150 : 250;
        var html5QrcodeScanner = new Html5QrcodeScanner(
            `reader-${challengeId}-reader`, { fps: 10, qrbox: qrBoxSize });
        html5QrcodeScanner.render(function(decodedText, decodedResult) {
            console.log(`Scan result: ${decodedText}`, decodedResult);
            if (qr == decodedText){
                alert("qrcode scanned")
                fetch(`/challenge_increment_progress/${challengeId}/`, {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ qrCode: decodedText })
                })
                alert('task completed!');
                window.location.reload();
            }
            else{
                alert("try a different code")
            }
        });
    }
   
</script>
{% endblock %}
