{% extends 'base.html' %}
{% load auth_extras %}

{% block title %} Home {% endblock %}
{% load static %}
{% block content %}
<div class="w-100 p-3 h-50" style="background-color: #eee;">
    {% if user.is_authenticated %}
            {% if user.username|last != "s" %}
                <h1>{{ user.username }}'s Garden</h1>
            {% else %}
                <h1>{{ user.username }}' Garden</h1>
            {% endif %}
        {% else %}
            <h1>Guest's Garden!</h1>
        {% endif %}

    {% if request.user|has_group:"Game Keepers" %} 
        <p>You are a Game Keeper.</p>
    {% else %}
        <p>You are a User.</p>
    {% endif %}
        <div class="row h-50">
            {% for plant in plant_slots %}
                <div class="col-2" style="background-color: rgb(255, 176, 176); padding: 10px;">
                    {% if plant and plant.image %}
                        <img class="image img-fluid" width="100%" src="{{ plant.image.url }}" alt="{{ plant.name }}">
                    {% else %}
                        <img class="image img-fluid" width="100%" src="{% static 'placeholder.jpg' %}" alt="empty_slot">
                    {% endif %}
                </div>
            {% empty %}
                <p>you have not created a garden yet go to the garden page </p>
            {% endfor %}
        </div>
</div>

<div class="row col-12">
    <!-- Current Tasks Section -->
    <div class="col-md-6" style="background-color: rgb(255, 176, 176);">
        <h2 class="mt-2">Current Tasks</h2>
        <ul class="list-group">
            <li class="list-group-item">
                {% for item in challenge_list %}
                    {% if forloop.counter <= 4 %}
                        <div>
                            {{ item.title }} - {{ item.desc }} - {{ item.progress }}/{{ item.noOfTasks }} , {{ item.rewardValue }} points
                                {%if item.qrvalue != '' %}
                                   QR needed
                                {% endif %}
                                <button class="remove-button btn btn-primary mt-1" qr="{{item.qrvalue}}" progress="{{item.progress}}" data-tasks="{{item.noOfTasks}}" data-id="{{item.id}}" data-points="{{item.rewardValue}}">complete</button>
                        </div>
                    {% endif %}
                    {% empty %}
                        <p>No challenges left</p>
                {% endfor %}
            </li>
        </ul>
        <button class="btn btn-primary mt-2" onclick="window.location.href='allchallenges'">See more tasks</button>
        {% if request.user|has_group:"Game Keepers" %} 
        <button class="btn btn-primary mt-2" onclick="window.location.href='createchallenge'">create challenge</button>
        {% endif %}
    </div>

    <div class="col-md-6" style="background-color: rgb(200, 203, 255);">
        <h>Scan QR Code</h1>
        <div style="width:120px" id="reader" qrcode="0"></div>
    </div>
</div>
<script src="https://unpkg.com/html5-qrcode"></script>
<script>
    // Handling the "See more tasks" button functionality and QR code scanning
    document.addEventListener('DOMContentLoaded', function () {
        const removeButtons = document.querySelectorAll('.remove-button');
        removeButtons.forEach(button => {
            button.addEventListener('click', function () {
                const challengeId = button.getAttribute('data-id');
                const points = button.getAttribute('data-points');
                const tasks = button.getAttribute('data-tasks');
                const progress = button.getAttribute('progress');
                const qr = button.getAttribute('qr');
                const value =  document.getElementById("reader").getAttribute('qrcode')
                const confirmRemove = confirm('Are you sure you have completed this task?');
                if (confirmRemove) {
                    if (qr== '' || qr==value){
                        document.getElementById("reader").setAttribute('qrcode',"0");
                    if (tasks == (parseInt(progress) + 1)) {
                        fetch('api/v1/removeChallenge', {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}',
                            },
                            body: JSON.stringify({
                                challengeId: challengeId,
                                points: points
                            })
                        })
                        .then(response => {
                            if (response.ok) {
                                alert('Challenge completed!');
                                location.reload();
                            } else {
                                alert('Error completing challenge.');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('Error completing challenge.');
                        });
                    } else {
                        fetch('api/v1/removeTask', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}',
                            },
                            body: JSON.stringify({
                                challengeId: challengeId
                            })
                        })
                        .then(response => {
                            if (response.ok) {
                                alert('Task completed!');
                                location.reload();
                            } else {
                                alert('Error completing task.');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('Error completing task.');
                        });
                    }
            
                }else if(value == "0") {
                        alert("you have not scanned a qr code")
                    }
                else{
                    alert("this is not the correct qr code for this challenge")
                }
            }
            });
        });
    });

    // function visible() {
    //     document.getElementById('reader').style.display = "block";
    // }
    // function onScanSuccess(decodedText, decodedResult) {
    //     console.log(`Scan result: ${decodedText}`, decodedResult);
    //     alert(decodedText);
    //     html5QrcodeScanner.clear();
        
    // }

    // If found you qr code
    function onScanSuccess(decodeText, decodeResult) {
        alert("You Qr is : " + decodeText, decodeResult);
        document.getElementById("reader").setAttribute('qrcode',decodeText);
    }
    let htmlscanner = new Html5QrcodeScanner(
        "reader",
        { fps: 10, qrbos: 250 }
    );
    htmlscanner.render(onScanSuccess);


</script>
{% endblock %}
