{% extends 'base.html' %}
{% block title %}Settings{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="container text-center mt-2">
      <div class="bg-success-subtle rounded p-5 m-2">
        <h2>Update Profile</h2>
<div class="mt-5">
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        <button type="submit" name="update_profile" class="btn btn-primary">Update Email</button>
    </form>
</div>

<div class="mt-5">
    <h3>Change Password</h3>
    <form method="post">
        {% csrf_token %}
        {{ password_form.as_p }}
        <button type="submit" name="change_password" class="btn btn-primary">Change Password</button>
    </form>
</div>
      </div>
      </div>
</div>
{% endblock %}